$color-scheme: dark;

$body-background-color: #0a1020;
$sidebar-color: #111a30;
$feedback-color: #18233b;
$table-background-color: #111a30;
$search-background-color: #111a30;
$code-background-color: #101827;

$body-heading-color: #f8fbff;
$body-text-color: #d7e1ef;
$nav-child-link-color: #afbdd1;

$link-color: #5eead4;
$link-color-visited: #c084fc;
$btn-primary-color: #0f766e;
$base-button-color: #142039;

$border-color: #34445f;

$search-result-preview-color: #b9c7d8;
$code-linenumber-color: #d7e1ef;
